/* SEZIONE GENERALE*/

* {
	margin: 0;
	padding: 0;
	font:Arial, Helvetica, Sans-serif;
}
.clearer {
	clear:both;
}

.errore {
	margin-top:1%;
	background-color:#FFFFEE;
}

/*SEZIONE HEADER*/
#header {
	width: 100%; /* layout fluido*/
	background-color:#DDEEFF;
	border-radius: 0px 0px 20px 20px;
}
/*logo*/
#logo{
	float: left;
	display: block;
	padding-top:0.5em;
	padding-left:0.5em;
	margin-left: 0.3em;
	background-position: left;
	background-image: url(../images/aereo.png);
	width: 258px;
	height: 188px;
	background-repeat: no-repeat;
}
/*fine sezione logo*/
#banner {
	/*background-color:#dddddd;*/
	height: 10em;
}
#banner h1 {
	padding-top: 0.2em;
	padding-left: 9em;
	/*text-align:center;*/
	font-size: 4em;
	/*color:#00a000;*/
	color: #000000;
	
}
#banner h1 span{
	font-size: 0.5em;
}
#banner h2 {
	padding-top:0.5em;
	padding-left:15.5em;
	/*text-align: center;*/
	font-size: 2em;
	/*color:#a00000;*/
	color: #000000;
}
#description{
	margin-top: 1em;
}
#description span{
	margin-top: 200em;
	padding-left: 14.3em;
	font-size: 1em;
}
/*FINE SEZIONE HEADER*/

/*SEZIONE MENU'*/

#menu {
	margin-left: 30%;
	margin-top: 2.5em;
	height:3em;
	/*background-color:#C0FFEE;*/
	padding:0.1em 0.3em 0.4em 0.3em;
}
#menu a {
	/*sezione per il pseudo contenitore*/
	height:100%;
	display:block;
	float:left;
	margin-left: 0.1em;
	/*background-color:#dcddde;*/
	background-color:#00cc99;
	border: 1px solid #000;
	padding:0 1em 0 1em;
	/*sezione per il testo interno*/
	text-decoration:none;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	font-size:1.2em;
	line-height:2.4em;
}
#menu a:hover {
	background-color:#e4edf2;
}
#menu .selected, #secondo_menu .selected, #terzo_menu .selected {
	/*Indico all'utente quale pagina e' aperta*/
	background-color:#d2e7f4;
}
/*FINE SEZIONE MENU'*/

/*SEZIONE DOVE SEI*/
#path {
	height:2em;
	/*background-color:#3CF;*/
	padding-left: 0.5em;
}


#path * {
	/*per tutti i contenuti del div path*/
	font-size:1em;
	line-height:1.9em;
}

#path .separatore_path {
	/* questo span contiene &gt;, separa le varie sezioni del path*/
}

#path a {
	text-decoration:none;
	color:#000;
}
#path a:hover {
	text-decoration:underline;
	color:#810808;
}
/*FINE SEZIONE DOVE SEI*/

/*INIZIO SEZIONE CONTENUTO PRINCIPALE*/
#main {
	background-color: #f7fcff;
	border-radius: 20px 20px 0px 0px;
}

/*INIZIO SEZIONE CASELLA "PRENOTA"*/
#prenota {
	width: 78%;
	margin: 0 auto;
	/*background-color:#f7fcff;*/
	padding-bottom:0.5em;
	padding-top:0.5%;
}
#prenota form fieldset {
	padding-top:0em;
	/*background-color:#3366ff;*/
	padding-bottom:0.3em;
	background-image: url(../images/cielo.jpg);
	border-radius: 20px 20px 20px 20px;
}
#prenota form label {
	height:3.5em;
	min-width:49%;
	max-width:99%;
	
	/*sezione text*/
	color:#000;
	line-height:2.5em;
	font-size:1.5em;
	font-weight: bold;
	text-transform:uppercase;
}

/*casella _AR*/
#prenota form .casella_AR {
	float:left;
	display:block;
	margin-left:4.7%;
	font-size:0.8em;
	/*background: #3CF*/
}
#prenota form input[type="radio"]{
	float:right;
	display:block;
	width:1.5em;
	height:1.5em;
	border:1px solid #000;
	background-color:#000;
	margin-top:1.1em;
	margin-left:0.2em;
}
/*fine casella _AR*/

/*casella_partenza casella_arrivo*/
#prenota form .casella_partenza{
	float:left;
	display:block;
	min-width:46%;
	max-width:98%;
	/*background-color:#3cf;*/
	margin-left:4.7%;
}
#prenota form .casella_arrivo{
	float:left;
	display:block;
	min-width:44%;
	max-width:98%;
	/*background-color:#3cf;*/
	margin-left:1%;
}

#prenota form .casella_partenza select{
	height: 2em;
	min-width:67%;
	max-width:99%;
	background-color:#fff;
	/*sezione text*/
	color:#000000;
	font-size:1.1em;
}
#prenota form .casella_arrivo select{
	height: 2em;
	min-width:73.4%;
	max-width:99%;
	background-color:#fff;
	/*sezione text*/
	color:#000000;
	font-size:1.1em;
}
/*fine casella_partenza casella_arrivo*/

/*casella _date*/
#prenota form .casella_dataPartenza{
	float:left;
	display:block;
	min-width:46%;
	max-width:98%;
	/*background-color:#3cf;*/
	margin-left:4.7%;
}
#prenota form .casella_dataArrivo{
	float:left;
	display:block;
	min-width:44%;
	max-width:98%;
	/*background-color:#3cf;*/
	margin-left:1%;
}
#prenota form .casella_dataPartenza input[type="text"]{
	height: 2em;
	min-width:50.8%;
	max-width:99%;
	background-color:#fff;
	/*sezione text*/
	color:#778899;
	font-size:1.1em;
}
#prenota form .casella_dataArrivo input[type="text"]{
	height: 2em;
	min-width:52.6%;
	max-width:99%;
	background-color:#fff;
	/*sezione text*/
	color:#778899;
	font-size:1.1em;
}
/*fine casella _date*/

/*casella _passeggeri*/
#prenota form .casella_passeggeri{
	float:left;
	display:block;
	width:46%;
	/*background-color:#3cf;*/
	margin-left:4.7%;
}

#prenota form .casella_passeggeri select{
	height: 2em;
	min-width:38.4%;
	max-width:99%; 
	background-color:#fff;
	/*sezione text*/
	color:#000000;
	font-size:1.1em;
}
/*fine casella _passeggeri*/

/*form_input*/
#prenota form .button_form {
	float:left;
	display:block;
	min-width:43%;
	max-width:99%;
	margin-left: 1%;
	/*background: #3cf;*/
}
#prenota form input[type="text"]{
	height: 2em;
	min-width:50%;
	max-width:99%;
	background-color:#fff;
	/*sezione text*/
	color:#000000;
	font-size:1.1em;
}
#prenota form button[type="submit"] span {
	/*sezione text*/
	text-transform:uppercase;
	font-size:3em;
	line-height:1em;
	font-weight: bold;
}
#prenota form button[type="submit"]{
	margin-top:0.5%;
	padding-bottom:0.1em;
	font-size:1em;
	height: 3.8em;
	width:99%;
}
#prenota form button[type="submit"]:hover, #prenota form button[type="submit"]:hover *{
	cursor:pointer;
	background-color:#e4edf2;
}
/*fine form_input*/
#prenota form input[type="text"]:hover {
	border-color:#FFE;
	background-color:#FFE;
}
#prenota form button, #prenota form button * {
	background-color:#FFE;
}

/*FINE SEZIONE CASELLA "PRENOTA"*/

/*INIZIO SEZIONE CONTENUTO*/

#contenuto {
	width:100%;
	background-color:#f7fcff;
}

/*INIZIO SEZIONE SECONDO MENU'*/
#secondo_menu{
	float:left;
	width:15%;
	display:block;
	margin-top: 0.5em;
	/*background-color:#00cc99;
	border-radius: 0px 20px 20px 0px;*/
}
#secondo_menu a, #secondo_menu span {
	margin-bottom: 2px;
	text-decoration: none;
	background-color:#00cc99;
	border-radius: 0px 5px 5px 0px;
}
#secondo_menu ul {
	list-style: none;
}
#secondo_menu ul li {
}
#secondo_menu ul li a {
	display:block;
	height:2em;
	/*sezione testo*/
	text-align:center;
	font-size:1.2em;
	line-height:2em;
	color: #000;
}
#secondo_menu ul li a:hover {
	background-color:#e4edf2;
	/*border-radius: 0px 20px 20px 0px;*/
}
/*FINE SEZIONE SECONDO MENU'*/

/*INIZIO SEZIONE "contenitore_sezioni" (CON SEZIONI...)*/
#contenitore_sezioni > h3, h4{
	width: 100%;
	text-align: center;
}


#contenuto p{
	padding: 0.4em;
}
#contenitore_sezioni {
	float:left;
	width:70%;
	display:block;
}
#presentazione{
	text-align: center;
}
#contenitore_sezioni .sezione{
	text-align: justify;
}

#flotta{
	background-position: center;
	background-image: url(../images/boeing737.jpg);
	width: 723px;
	height: 410px;
	background-repeat: no-repeat;
	padding-left: 4em;
}

#personale{
	background-position: center;
	background-image: url(../images/equipaggio.jpg);
	width: 723px;
	height: 410px;
	background-repeat: no-repeat;
	padding-left: 4em;
}

/*link per tornare in alto*/
#torna_su {
	display:block;
	position:fixed;
	right:15.5%;
	bottom:6.0em;
	/*sezione testo*/
	text-transform:uppercase;
}
#torna_su a{
	text-decoration: none;
	/*testo*/
	color: #000;
}
#linkservizi{
	text-align: center;
}
#linkservizi a{
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	font-size:1.2em;
	line-height:2.4em;
}

#mappaSito {
	font-size: 1.2em;
}
#mappaSito  ul ul{
	margin-left: 2em;
	
}
#mappaSito a{
	text-decoration: none;
}
/*FINE SEZIONE "contenitore_sezioni"*/

/*INIZIO "SEZIONE"*/
.sezione {
	margin-right:5em;
	margin-left:5em;
	margin-bottom:1em;
}
.sezione h3 {
	width:100%;
	text-align:center;
}
.sezione p {
}
/*FINE "SEZIONE"*/

/*INIZIO SEZIONE FORM*/
.sezione form {
	width:99%;
	font-size:1em;
	/*ho definito 1em per definire l'altezza relativa dei successivi contenitori*/
	padding-left:1%;
	margin-bottom:2em;
}
.sezione form fieldset {
	width:70%;
	margin:0 auto;
	border:none;
}
.sezione form fieldset div {
	display:block;
	min-height:2em;
	line-height:2em;
	width:100%;
}

.sezione form fieldset div h3 {
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*sezione testo*/
	font-size:2em;
}

.sezione form fieldset div h4 {
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*sezione testo*/
	font-size:1.5em;
}

.sezione form fieldset div label {
	width:38%;
	float:left;
	display:block;
	/*testo*/
	font-size:1.5em;
	text-transform:uppercase;
}

.sezione form fieldset div input {
	width:61%;
	height:2em;
	float:left;
	display:block;
	font-size:1.5em;
}

.sezione form fieldset div button {
	height:5em;
	float:right;
	background-color:#FFE;
}
.sezione form fieldset div button:hover, .sezione form fieldset div button *:hover {
	cursor:pointer;
	background-color:#e4edf2;
}

.sezione form fieldset div button span {
	font-size:3em;
	text-transform:uppercase;
	margin:0.2em;
}

/*FINE SEZIONE FORM*/

/*INIZIO SEZIONE CERCA VOLI*/

/*Inteztazione*/
#cerca_voli h1{
	text-align: center;
}
#titolo_tabellaAndata, #titolo_tabellaRitorno{
	margin-left: 5.9em;
}

/*tabella cerca voli */
#cerca_voli table {
	width:99%;
	margin:0 auto;
}
#cerca_voli table, th, td{
	border: 0.1em solid black;
	border-collapse: collapse;
	/*testo*/
	text-align: left;
}
#tabella_voliAndata, #tabella_voliRitorno{
	margin-bottom: 1em;
}
/*tabella thead, tfoot*/
#cerca_voli table thead, #cerca_voli table tfoot{
	font-weight: bold;
	background-color: #00CC99;
}
/*fine tabella cerca voli*/

/*parte seleziona casella*/

#tabella_voliAndata a {
	text-decoration:none;
}
.intestazione_tabella{
	font-size: 1.2em;
}

.scacchiera{
	background-color: #DDEEFF;
	/*display: block;*/
}

.volo_selected {
	background-color:#C0FFee;
}
.disabled {
	background-color:#AAA;
	padding:1%;
	display:block;
	/*background-color:#dcddde;*/
	/*sezione per il testo interno*/
	text-decoration:none;
	color:#000;
	font-size:1.2em;
}
.seleziona_cella{
	/*sezione per il pseudo contenitore*/
	padding:1%;
	display:block;
	/*background-color:#dcddde;*/
	/*sezione per il testo interno*/
	text-decoration:none;
	color:#000;
	font-size:1.2em;
}
.seleziona_cella:hover {
	background-color:#e4edf2;
	font-weight:bold;
}
/*fine parte seleziona casella*/
/*FINE SEZIONE CERCA VOLI*/

/*INIZIO TERZO SECONDO MENU'*/
#terzo_menu{
	float:left;
	width:15%;
	display:block;
	margin-top: 0.5em;
	/*background-color:#00cc99;
	border-radius: 0px 20px 20px 0px;*/
}
#terzo_menu a{
	margin-bottom: 2px;
	text-decoration: none;
	background-color:#00cc99;
	border-radius: 5px 0px 0px 5px;
}
#terzo_menu ul {
	list-style: none;
}
#terzo_menu ul li {
}
#terzo_menu ul li a {
	display:block;
	height:2em;
	/*sezione testo*/
	text-align:center;
	font-size:1.2em;
	line-height:2em;
	color: #000;
}
#terzo_menu ul li a:hover {
	background-color:#e4edf2;
	/*border-radius: 0px 20px 20px 0px;*/
}
/*FINE TERZO MENU'*/

/*LINK*/
/* link da visitare */
a:link{ 
	color: #000099; 
}
/* link attivo */
a:active{ 
	color: #000; 
} 
/* link visitato */
a:visited{ 
	color: #AA00AA; 
} 
/* link al passaggio del mouse */
a:hover{ 
	color: #000; 
}

/*FINE SEZIONE LINK*/

/*FINE SEZIONE CONTENUTO*/

/*FINE SEZIONE CONTENUTO PRINCIPALE*/

/*INIZIO SEZIONE FOOTER*/
#footer {
	clear: both;
	width:100%;
	background-color:#3000ff;
	position:absolute;
	border-radius: 0px 0px 20px 20px;
	/*testo*/
	color: #FFF;
}
#sitemap {
	position:absolute;
	bottom:0.5em;
	right:1em;
}
#sitemap a{
	text-decoration: none;
	/*testo*/
	color: #FFF;
}
#gruppo {
	margin:0 auto;
	width:20em;
}
#gruppo p {
	text-align:center;
}
#dati_aziendali {
	margin:0 auto;
	width:20em;
}
#dati_aziendali p {
	text-align:center;
}
#validazione {
	width: 11em;
	margin:0 auto;
}
#validazione .css_valido {
	float:left;
}
#validazione .html_valido {
	float:left;
}
/*FINE SEZIONE FOOTER*/